{:version     "0.1.0"
 :description "Frontend to display COVID19 FAQ"
 :url         ""
 :license     {:name "Eclipse Public License - v 2.0"
               :url  "http://www.eclipse.org/legal/epl-v20.html"}

 :deps
 {;; cljs-bean                       {:mvn/version "1.5.0"}
  com.bhauman/figwheel-main       {:mvn/version "0.2.3"}
  com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
  org.clojure/clojure             {:mvn/version "1.10.1"}
  org.clojure/clojurescript       {:mvn/version "1.10.597"}
  org.clojure/core.async          {:mvn/version "1.0.567"}
  org.clojure/tools.reader        {:mvn/version "1.3.2"}
  re-frame                        {:mvn/version "0.12.0"}
  reagent                         {:mvn/version "0.10.0"}
  reagent-utils                   {:mvn/version "0.3.3"}
  org.clojure/data.csv            {:mvn/version "1.0.0"}
  }

 :paths ["src" "src/clj" "resources"]
 
 :aliases
 {:fig {:main-opts   ["-m" "figwheel.main" "-b" "dev" "-r"]
        :extra-paths ["src/cljs"]}

  :js {:main-opts   ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]
       :extra-paths ["src/cljs"]}}}
